Here we tried to label the data based on the halo $centers$ found by _Rockstar_ halofinder package. </br>

In [1]:
from pygadgetreader import *
import pandas as pd
import numpy as np

In [7]:
#mass = readsnap('lcdmML_snap000_cdm','mass','dm').tolist()
particle_id = readsnap('lcdmML_snap000_cdm','pid','dm').tolist()
position = readsnap('lcdmML_snap000_cdm','pos','dm')
x = position[:,0].tolist()
y = position[:,1].tolist()
z = position[:,2].tolist()

Returning DM    Particle IDs
Returning DM    Positions

In [8]:
data = {'particle_id': particle_id,
        'x': x,
        'y': y,
        'z': z}
df100 = pd.DataFrame(data)

In [9]:
df100

          particle_id              x              y              z
0                   0     191.823669     231.260315     225.341949
1                   7     808.147949     209.616364     213.456253
2                  56    1436.358398     197.335678     200.460770
3                  63    2042.751953     196.021805     186.445267
4                  64    2663.455811     203.197708     169.332596
...               ...            ...            ...            ...
16777211     16777133  157061.437500  159615.625000  159624.671875
16777212     16777170  157687.312500  159620.703125  159609.734375
16777213     16777173  158316.203125  159622.906250  159601.859375
16777214     16777194  158936.828125  159617.718750  159611.578125
16777215     16777197  159573.843750  159611.875000  159619.531250

[16777216 rows x 4 columns]

In [16]:
df100 = df100.sort_values( by =['particle_id'])

In [17]:
df100

          particle_id              x              y              z
0                   0     191.823669     231.260315     225.341949
8192                1     186.200226     221.930664     818.071106
8448                2     171.994156     855.320129     818.154968
256                 3     174.151733     861.910156     209.337372
257                 4     794.681641     852.414734     201.332642
...               ...            ...            ...            ...
16752126     16777211  158966.625000  158374.890625  157752.812500
16752127     16777212  159578.890625  158386.796875  157733.140625
16760319     16777213  159569.062500  158369.640625  158361.296875
16760063     16777214  159569.203125  157749.156250  158374.437500
16751871     16777215  159588.750000  157758.078125  157746.093750

[16777216 rows x 4 columns]

This is the randomly labeled data:

In [10]:
ran = pd.read_csv('density_contrast_hunthou.csv')

In [11]:
ran

,particle_id,in-halo,den_contrast for 12.4,den_contrast for 13.0,den_contrast for 13.6
0,6734555,0,-0.053916,-0.046234,-0.039032
1,12718733,1,-0.048032,-0.044974,-0.039007
2,6470459,1,-0.039389,-0.034886,-0.030631
3,12098249,1,-0.049084,-0.045819,-0.039032
4,4799280,1,-0.040202,-0.041805,-0.038101
...,...,...,...,...,...
99995,13941529,0,-0.052688,-0.046026,-0.039032
99996,10307225,1,-0.050838,-0.045736,-0.039032
99997,5916846,0,-0.052656,-0.046206,-0.039032
99998,13686590,0,-0.047968,-0.044061,-0.038705
99999,9026520,0,-0.048973,-0.045583,-0.039032

In [14]:
ran =ran.sort_values( by =['particle_id'])

In [15]:
ran

,particle_id,in-halo,den_contrast for 12.4,den_contrast for 13.0,den_contrast for 13.6
52325,2130472,0,-0.049770,-0.044199,-0.037908
52646,2130544,1,-0.052879,-0.045431,-0.038645
89314,2130870,0,-0.054059,-0.046234,-0.039032
80736,2130914,1,-0.053996,-0.046234,-0.039032
51328,2130929,1,-0.052927,-0.046220,-0.039032
...,...,...,...,...,...
22024,14646020,1,-0.040138,-0.040837,-0.037533
22625,14646138,0,-0.039708,-0.041349,-0.038282
34790,14646202,0,-0.040282,-0.042096,-0.038681
35811,14646338,1,-0.023012,-0.035135,-0.036228
24604,14646342,0,-0.019185,-0.034000,-0.036228

In [71]:
ran=ran.drop(['in-halo'],axis=1) #the random labels

In [18]:
df = df100.loc[df100['particle_id'].isin(ran['particle_id'])]

In [19]:
df

          particle_id              x              y              z
2376226       2130472   21522.115234   21524.384766   21373.308594
2375718       2130544   24033.451172   20267.574219   21417.728516
2383931       2130870   37199.507812   20365.886719   22111.636719
2368318       2130914   39106.937500   22289.798828   20842.138672
2383934       2130929   39132.832031   20405.312500   22107.080078
...               ...            ...            ...            ...
14392753     14646020  111035.359375  138368.828125  137797.984375
14400950     14646138  114121.859375  138368.796875  138437.171875
14400954     14646202  116558.687500  138392.796875  138454.921875
14400964     14646338  122794.460938  138447.484375  138497.125000
14400709     14646342  123428.125000  137795.671875  138503.953125

[100000 rows x 4 columns]

Halo properties found by _Rockstar_:

In [2]:
f = open('lcdm_halos_0.ascii', "r", encoding="ascii")
df_hf = pd.read_csv(f, sep=' ', skiprows=range(1,19), skipinitialspace=True)
df_hf

,#id,num_p,mvir,mbound_vir,rvir,vmax,rvmax,vrms,x,y,...,Rs_Klypin,T/|U|,M_pe_Behroozi,M_pe_Diemer,Halfmass_Radius,idx,i_so,i_ph,num_cp,mmetric
0,0,498,9.010000e+12,9.010000e+12,420.496338,304.625122,400.370850,276.464508,10.264464,1.064490,...,159.968231,0.807219,1.170296e+13,2.009670e+13,275.486664,188,-1,-1,919,1.000000e+10
1,1,511,9.053000e+12,9.053000e+12,421.175659,305.768158,405.431396,253.173233,6.786842,9.899183,...,151.878204,0.649131,1.057097e+13,1.539508e+13,237.464462,543,-1,-1,704,1.000000e+10
2,2,898,9.447000e+12,9.447000e+12,427.193268,308.582703,421.775665,267.569702,9.485045,10.957691,...,182.660248,0.720611,1.356045e+13,2.519195e+13,280.098785,649,-1,-1,1156,1.000000e+10
3,3,642,7.938000e+12,7.938000e+12,403.117859,291.354706,400.000000,275.389862,18.058865,37.109154,...,166.856125,0.896792,1.604970e+13,3.221158e+13,264.200745,868,-1,-1,1649,1.000000e+10
4,4,806,9.141000e+12,9.141000e+12,422.527771,306.011047,419.854553,243.826233,26.875452,21.325647,...,162.054459,0.622620,1.146188e+13,2.147439e+13,259.708160,905,-1,-1,982,1.000000e+10
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1268,1268,830,1.124000e+13,8.878000e+12,418.445099,302.119354,418.375031,383.460815,146.853638,148.757660,...,187.735703,1.495697,1.021622e+13,1.447662e+13,286.654083,94678,94671,-1,863,2.139752e+00
1269,1269,811,1.246000e+13,8.419000e+12,411.102448,297.133606,409.095367,477.942444,146.849335,148.190536,...,169.934814,2.448622,1.140790e+13,1.793177e+13,257.818207,94679,94671,-1,1171,3.899567e+00
1270,1270,713,1.341000e+13,1.100000e+13,449.420074,325.475098,443.947235,426.119232,151.423080,154.725204,...,172.564484,1.584826,1.309815e+13,2.022791e+13,306.553162,94819,94821,-1,1168,2.039248e+00
1271,1271,1172,1.994000e+13,1.994000e+13,548.017944,395.735870,547.748108,377.436737,152.129974,155.056625,...,240.601440,0.767673,4.577868e+13,8.287977e+13,394.119934,94821,-1,-1,7461,1.000000e+10
1272,1272,1413,1.590000e+13,1.590000e+13,508.129761,367.518799,501.383698,316.708954,149.357178,158.918671,...,203.784348,0.639881,2.236600e+13,4.246768e+13,340.973358,94842,-1,-1,2342,1.000000e+10

Keeping only the centers' positions and the radii around the center in which half of the halo mass is distributed.

In [20]:
dfh= df_hf[['x','y','z','Halfmass_Radius']]
dfh

               x           y           z  Halfmass_Radius
0      10.264464    1.064490   21.216145       275.486664
1       6.786842    9.899183   65.984085       237.464462
2       9.485045   10.957691   71.868065       280.098785
3      18.058865   37.109154   58.780361       264.200745
4      26.875452   21.325647   54.686840       259.708160
...          ...         ...         ...              ...
1268  146.853638  148.757660  158.076218       286.654083
1269  146.849335  148.190536  158.715912       257.818207
1270  151.423080  154.725204  150.794647       306.553162
1271  152.129974  155.056625  150.957840       394.119934
1272  149.357178  158.918671  150.790298       340.973358

[1273 rows x 4 columns]

In [21]:
from tqdm import tqdm

Radius in which most of the mass of halo is located is about 20 times of the halfmass radius.
The radii are in unit $(\frac{kpc}{h})$ .
Positions are in unit $(\frac{Mpc}{h})$ .

In [68]:
def in_or_out(s, hf):
    in_out = np.zeros(len(s))
    ss = s.to_numpy()
    hh = hf.to_numpy()
    for j in tqdm(range(len(hf))):
        r = hh[j,3] / 50
        x = hh[j,0]
        y = hh[j,1]
        z = hh[j,2]
        dis = np.sqrt(np.square(ss[:,1]/1000-x) + np.square(ss[:,2]/1000-y) + np.square(ss[:,3]/1000-z))
        in_out = in_out+(dis<=r)
    in_out[in_out>0]=1
    return in_out

In [72]:
a=(in_or_out(df,dfh))

100%|██████████| 1273/1273 [00:03<00:00, 347.86it/s]

In [73]:
ran.insert(1,'in-halo',a)

In [74]:
ran

,particle_id,in-halo,den_contrast for 12.4,den_contrast for 13.0,den_contrast for 13.6
52325,2130472,0.0,-0.049770,-0.044199,-0.037908
52646,2130544,0.0,-0.052879,-0.045431,-0.038645
89314,2130870,0.0,-0.054059,-0.046234,-0.039032
80736,2130914,0.0,-0.053996,-0.046234,-0.039032
51328,2130929,0.0,-0.052927,-0.046220,-0.039032
...,...,...,...,...,...
22024,14646020,0.0,-0.040138,-0.040837,-0.037533
22625,14646138,1.0,-0.039708,-0.041349,-0.038282
34790,14646202,1.0,-0.040282,-0.042096,-0.038681
35811,14646338,1.0,-0.023012,-0.035135,-0.036228
24604,14646342,1.0,-0.019185,-0.034000,-0.036228

In [76]:
ran.to_csv('in-halo.csv',index=False)