In [1]:
from pygadgetreader import *
import pandas as pd
import numpy as np

In [2]:
vel = readsnap('lcdmML_snap000_cdm','vel','dm')
vx = vel[:,0].tolist()
vy = vel[:,1].tolist()
vz = vel[:,2].tolist()
#mass = readsnap('lcdmML_snap000_cdm','mass','dm').tolist()
particle_id = readsnap('lcdmML_snap000_cdm','pid','dm').tolist()
position = readsnap('lcdmML_snap000_cdm','pos','dm')
x = position[:,0].tolist()
y = position[:,1].tolist()
z = position[:,2].tolist()

Returning DM    Velocities
Returning DM    Particle IDs
Returning DM    Positions

In [3]:
data = {'particle_id': particle_id,
        'x': x,
        'y': y,
        'z': z,
        'vx': vx,
        'vy': vy,
        'vz': vz}
df100 = pd.DataFrame(data)

In [4]:
df100.insert(1, 'in-halo', 0)

In [5]:
df100['in-halo'] = np.random.choice([0, 1], df100.shape[0])
df100.head()

,particle_id,in-halo,x,y,z,vx,vy,vz
0,0,1,191.823669,231.260315,225.341949,-660.796265,-419.618408,-490.774445
1,7,1,808.147949,209.616364,213.456253,-703.991638,-531.870056,-535.230347
2,56,0,1436.358398,197.335678,200.460770,-690.418152,-610.169495,-617.215515
3,63,1,2042.751953,196.021805,186.445267,-799.034180,-648.369690,-688.284424
4,64,1,2663.455811,203.197708,169.332596,-820.473450,-627.987488,-770.614990

In [6]:
df = df100.sort_values( by =['x'])

In [7]:
df

,particle_id,in-halo,x,y,z,vx,vy,vz
2573056,3702803,0,102.728737,22108.068359,36532.761719,-1150.958862,-422.377502,-159.823395
2630144,4227097,0,104.712769,21492.142578,40919.269531,-1130.701050,-402.386566,-111.682846
11749888,10133520,1,105.714775,106582.671875,96523.625000,-1150.127563,136.232620,-228.398438
11750144,10133523,1,106.712288,107197.734375,96523.710938,-1145.015503,47.711384,-232.178207
2654464,4489219,1,106.845230,20843.929688,42775.347656,-1136.180054,-517.004028,-213.225143
...,...,...,...,...,...,...,...,...
10339839,15605748,1,159841.468750,83402.351562,148984.375000,847.046082,-175.666245,-444.587646
10348031,15605749,0,159844.218750,83417.226562,149611.093750,862.319885,-95.095833,-465.662018
10340351,15605740,1,159845.500000,84639.250000,149008.968750,871.704834,-290.777435,-301.258087
10348287,15605742,1,159847.093750,84053.078125,149620.828125,887.869568,-69.599762,-392.718689
10340095,15605743,0,159848.046875,84050.937500,148991.656250,884.548889,-113.684166,-384.338165

In [80]:
data = df.copy(deep = True)
data.x = data.x / 1000
data.y = df.y / 1000
data.z = df.z / 1000
print(data.x.max())
print(data.y.max())
print(data.z.max())

159.848046875
159.85153125
159.82553125

In [9]:
data

,particle_id,in-halo,x,y,z,vx,vy,vz
2573056,3702803,0,0.102729,22.108068,36.532762,-1150.958862,-422.377502,-159.823395
2630144,4227097,0,0.104713,21.492143,40.919270,-1130.701050,-402.386566,-111.682846
11749888,10133520,1,0.105715,106.582672,96.523625,-1150.127563,136.232620,-228.398438
11750144,10133523,1,0.106712,107.197734,96.523711,-1145.015503,47.711384,-232.178207
2654464,4489219,1,0.106845,20.843930,42.775348,-1136.180054,-517.004028,-213.225143
...,...,...,...,...,...,...,...,...
10339839,15605748,1,159.841469,83.402352,148.984375,847.046082,-175.666245,-444.587646
10348031,15605749,0,159.844219,83.417227,149.611094,862.319885,-95.095833,-465.662018
10340351,15605740,1,159.845500,84.639250,149.008969,871.704834,-290.777435,-301.258087
10348287,15605742,1,159.847094,84.053078,149.620828,887.869568,-69.599762,-392.718689
10340095,15605743,0,159.848047,84.050938,148.991656,884.548889,-113.684166,-384.338165

In [8]:
box_size = 159
boundary = 20

d = data[data.x > boundary]

d = d[data.x < box_size - boundary]

d = d[data.y > boundary]

d = d[data.y < box_size - boundary]

d = d[data.z > boundary]

d = d[data.z < box_size - boundary]

<ipython-input-8-6d0c75d777e2>:6: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  d = d[data.x < box_size - boundary]
<ipython-input-8-6d0c75d777e2>:8: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  d = d[data.y > boundary]
<ipython-input-8-6d0c75d777e2>:10: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  d = d[data.y < box_size - boundary]
<ipython-input-8-6d0c75d777e2>:12: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  d = d[data.z > boundary]
<ipython-input-8-6d0c75d777e2>:14: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  d = d[data.z < box_size - boundary]

In [127]:
d

,particle_id,in-halo,x,y,z,vx,vy,vz
13030944,3625488,0,20.122223,133.986938,34.045629,-1037.607544,-414.172272,-76.960991
13039136,3625489,1,20.122973,133.991250,34.661781,-1048.035645,-420.182953,-139.027496
13038880,3625482,0,20.126686,133.358516,34.664355,-1039.890625,-411.780701,-120.453087
13031200,3625491,0,20.126812,134.601328,34.043699,-1022.259338,-510.349335,-101.248367
13030688,3625483,0,20.131455,133.368953,34.049188,-1020.280334,-373.651794,-44.582775
...,...,...,...,...,...,...,...,...
3335902,9739753,0,138.999969,24.087727,94.652477,-345.747620,129.470703,-187.006470
4710622,4001265,1,138.999969,40.271535,39.701758,-349.845581,-239.200684,92.199295
4621278,3476963,1,138.999969,42.185977,32.779051,-351.746124,-19.319798,-212.379745
7123166,6671865,1,138.999984,70.321289,63.425047,-359.677704,50.848545,-71.488411
5455582,10059233,1,138.999984,59.064781,95.872992,-379.251587,32.357327,-375.027557

In [9]:
from tqdm import tqdm

In [98]:
# def box_mass(r_cutoff, df, d):
#     m = len(d)
#     mass = pd.DataFrame(np.zeros(m),columns=[f'den_contrast({r_cutoff})'])
#     for i in tqdm(range(m)):
#         wx=d.iloc[i]['x']
#         wy=d.iloc[i]['y']
#         wz=d.iloc[i]['z']
        
#         temp = np.where((df[:,0] > wx - r_cutoff) & (df[:,0] < wx + r_cutoff) & (df[:,1] < wy+r_cutoff) & (df[:,1] > wy-r_cutoff) & (df[:,2] < wz+r_cutoff) & (df[:,2] > wz-r_cutoff) )
    
#         mass.iloc[i][f'den_contrast({r_cutoff})'] = len(temp[0])
# #         print(i)
#     return mass

In [105]:
def box_mass(r_cutoff, df, d):
    m = len(d)
#     print(m)
    mass = pd.DataFrame(np.zeros(m),columns=[f'den_contrast({r_cutoff})'])
    for i in tqdm(range(m)):
        wx=d[i,0]
        wy=d[i,1]
        wz=d[i,2]
        
        temp = np.where((df[:,0] > wx - r_cutoff) & (df[:,0] < wx + r_cutoff) & (df[:,1] < wy+r_cutoff) & (df[:,1] > wy-r_cutoff) & (df[:,2] < wz+r_cutoff) & (df[:,2] > wz-r_cutoff) )
    
        mass.iloc[i,-1] = len(temp[0])
#         print(i)
    return mass

In [121]:
n = 100

sample_keep = d.sample(n, random_state = 1)
sample = sample_keep[['x','y','z']]
sample_density = sample_keep[['particle_id', 'in-halo']]
sample_density.reset_index(drop = True, inplace = True)
sample=sample.to_numpy()
sample_density.head()

   particle_id  in-halo
0     14329164        0
1      3218492        1
2      7217720        0
3      7526788        0
4      2574977        1

In [92]:
data2 = data[['x','y','z']].to_numpy()

In [122]:
rc = np.array([])
for i in range(8,11, 1):
    r = round(0.8 + 0.4 * i,2)
    rc = np.append(rc, r)
    density = box_mass(r , data2, sample)
    density/=((2*r)**3)
    sample_density = pd.concat([sample_density, density], axis = 1)
sample_density.head()

100%|██████████| 100/100 [00:12<00:00,  8.11it/s]
100%|██████████| 100/100 [00:12<00:00,  8.06it/s]
100%|██████████| 100/100 [00:12<00:00,  7.78it/s]

,particle_id,in-halo,den_contrast(4.0),den_contrast(4.4),den_contrast(4.8)
0,14329164,0,4.291016,3.973751,3.814697
1,3218492,1,4.291016,4.612075,3.814697
2,7217720,0,4.291016,4.634086,3.814697
3,7526788,0,4.291016,4.931971,3.814697
4,2574977,1,4.291016,3.887174,3.814697

In [123]:
rho_bar = len(df) / (159.8**3)
sample_density.iloc[:,2:] -= rho_bar
sample_density.iloc[:,2:] /= rho_bar
sample_density

,particle_id,in-halo,den_contrast(4.0),den_contrast(4.4),den_contrast(4.8)
0,14329164,0,0.043688,-0.033479,-0.072166
1,3218492,1,0.043688,0.121778,-0.072166
2,7217720,0,0.043688,0.127131,-0.072166
3,7526788,0,0.043688,0.199585,-0.072166
4,2574977,1,0.043688,-0.054537,-0.072166
...,...,...,...,...,...
95,14012936,0,0.043688,0.033977,-0.072166
96,10158932,0,0.043688,0.152472,-0.072166
97,12803006,0,0.043688,0.122135,-0.072166
98,9323569,1,0.043688,0.118565,-0.072166
99,8816585,0,0.043688,0.107144,-0.072166

In [92]:
# save to csv
sample_density.to_csv('sample_density.csv', index=False)